/* Error: Undefined variable.
 *     ,
 * 191 | @media screen and (max-width:$tablet){
 *     |                              ^^^^^^^
 *     '
 *   scss\review.scss 191:30  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 191 \2502  @media screen and (max-width:$tablet){\d\a     \2502                               ^^^^^^^\a     \2575 \a   scss\\review.scss 191:30  root stylesheet";
}
