/* content ----------------------------------------------------------- */
.campaign{
    width: 100%;
    position: relative;

    .sub_visualTop{
        width: 100%;
        height: 200px;
        background: url(../img/campaign_bg.jpg) no-repeat center/cover fixed;
        opacity: 1;
        margin-bottom: 100px;
        position: relative;

        .inner{
            width: 1180px;
            margin: 0 auto;

            h1{
                font: bold 30px/200px 'Rajdhani';
                color: #444;
                font-weight: normal;
                text-align: center;
            }
        }
    }
    .sub_content{
        width: 100%;
        margin-bottom: 100px;
        position: relative;

        .inner{
            width: 1180px;
            min-height: 300px;
            margin: 0 auto;
            position: relative;     

            >h2{
                font: 30px/1 'Yeseva One';
                color: #444;
                margin-bottom: 50px;
                text-align: center;
                letter-spacing: 2px;
            }

            .wrap{
                position: relative;

                .sortBtn{
                    width: 100%;
                    text-align: center;         
                    position: relative;
                    margin-bottom: 40px;

                    li{
                        display: inline-block;
                        width: 30%;
                        height: 40px;

                        a{
                            width: 100%;
                            height: 100%;
                            font: 22px/40px 'Merriweather';
                            color: #ddd;
                            letter-spacing: 1px;
                            text-align: center;
                        }
                        &.on a{
                            color: #444;
                        }
                    }
                }

                section{
                    width: 100%;
                    float: left;
                    position: relative;

                    article{
                        float: left;
                        width: 20%;
                        padding: 10px;

                        div{
                            width: 100%;
                            background: #fff;

                            img{
                                width: 100%;
                            }
                            h2{
                                font: bold 16px/1.2 'Rajdhani';
                                color: #444;
                                margin-top: 20px;
                                margin-bottom: 10px;
                                padding: 0 10px;
                            }
                            p{
                                font: 12px/1.4 'Merriweather';
                                color: #666;
                                padding: 0 10px 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    
}

//미디어쿼리
@media screen and (max-width:$tablet){
    /* content ----------------------------------------------------------- */
    .campaign{
        width: 100%;

        .sub_visualTop{
            height: 150px;
            margin-bottom: 50px;

            .inner{
                width: 100%;
                
                h1{
                    line-height: 150px;
                }
            }
        }
        .sub_content{
            .inner{
                width: 100%;
                padding: 20px;

                .wrap{   
                    section{    
                        article{
                            width: 25%;
                        }
                    }
                }
            }
        }        
    }
}

@media screen and (max-width:1025px){
    .campaign{
        .sub_content{
            .inner{
                .wrap{   
                    section{    
                        article{
                            width: 33%;
                        }
                    }
                }
            }
        }        
    }
}

@media screen and (max-width:769px){
    .campaign{
        .sub_content{
            .inner{
                .wrap{   
                    section{    
                        article{
                            width: 50%;
                        }
                    }
                }
            }
        }        
    }
}

@media screen and (max-width:$mobile){
    /* content ----------------------------------------------------------- */
    .campaign{
        .sub_visualTop{
            margin-bottom: 50px;
        }   
        .sub_content{
            .inner{
                padding: 0;

                >h2{
                    line-height: 1.2;
                }
                .wrap{
                    ul{
                        margin-bottom: 20px;
                    }   
                    section{    
                        article{
                            width: 100%;
                        }
                    }
                }
            }
        }     
    }
}