//버튼 설정
@mixin button($wid:100px, $ht:30px, $bgColor:rgba(255,255,255,0), $color:#444, $fontSize:12px, $corner:0px, $fontFamily:"Rajdhani", $lineHt:30px, $border:1px solid #444){
    display: block;
    width: $wid;
    height: $ht;
    background: $bgColor;
    color: $color;
    font-size: $fontSize;
    font-weight: bold;
    border-radius: $corner;
    font-family: $fontFamily;
    line-height: $lineHt;
    border: $border;
    text-align: center;
}