@charset "UTF-8";

/* story ----------------------------------------------------------- */
.story{
    width: 100%;

    .sub_visualTop{
        width: 100%;
        height: 200px;
        background: url(../img/story_bg.jpg) no-repeat center/cover fixed;
        margin-bottom: 100px;

        .inner{
            width: 1180px;
            margin: 0 auto;

            h1{
                font: bold 30px/200px 'Rajdhani';
                color: #eee;
                font-weight: normal;
                text-align: center;
            }
        }
    }
    .sub_content{
        width: 100%;
        margin-bottom: 100px;

        .inner{
            width: 1180px;
            margin: 0 auto;            

            h2{
                font: 30px/1 'Yeseva One';
                color: #444;
                margin-bottom: 50px;
                text-align: center;
                letter-spacing: 2px;
            }
            .wrap{
                position: relative;
                height: 600px;
                border: 1px solid transparent;

                #story_sliders1{
                    width: 70%;
                    height: 100%;
                    position: absolute;
                    right: 0;
                    top: 0;
                    overflow: hidden;
                    background: #fff;

                    >ul{
                        width: calc(100% * 4);
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;

                        li{
                            width: calc(100% / 4);
                            height: 100%;
                            float: left;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;

                            .pic{
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                right: 0;

                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }

                #story_sliders2{
                    width: 30%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    overflow: hidden;                    

                    >ul{
                        width: 400%;
                        height: 40vh;                        
                        position: absolute;
                        bottom: 10vh;
                        left: 0;
                        z-index: 1;

                        li{
                            width: 25%;   
                            height: 100%;
                            padding: 0 20px;
                            float: left;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            align-items: center;

                            span{
                                display: block;
                                width: 100%;
                                font: 16px/1 'Rajdhani';
                                color: #444;
                                transition: 0.5s;
                            }
                            h1{
                                font: normal 55px/1.2 'Merriweather';
                                color: #444;
                                margin-right: 10px;
                                transition: 0.5s;
                            }
                            p{
                                width: 70%;
                                font: 16px/1.3 'Rajdhani';
                                color: #444;
                                text-align: left;
                                transition: 0.5s;
                            }
                            a{  
                                width: 100%;
                                font: bold 16px/1 'Rajdhani';
                                color: #888;
                                transition: 0.5s;
                            }
                            &:hover a{
                                color: #444;
                            }
                        }             
                    }
                }

                .sliderBtns{
                    width: 100px;
                    position: absolute;
                    left: 30%;
                    bottom: 0;
                    z-index: 2;

                    li{
                        float: left;
                        width: 50px;
                        height: 50px;        
                        background: #fff;
                        border-right: 0;
                        a{
                            display: block;
                            width: 100%;
                            height: 50px;
                            font: 25px/50px 'Rajdhani';
                            text-align: center;
                            color: #888;                                          
                        }
                        &:hover a{
                            color: #444;
                        }
                    }
                }
            }  
        }
    }    
}


//미디어쿼리
@media screen and (max-width:$tablet){
    /* story ----------------------------------------------------------- */
    .story{
        width: 100%;

        .sub_visualTop{
            height: 150px;
            margin-bottom: 50px;

            .inner{
                width: 100%;
                
                h1{
                    line-height: 150px;
                }
            }
        }
        .sub_content{
            .inner{
                width: 100%;
                padding: 30px;

                .wrap{
                    height: 600px;
                    border: 1px solid #eee;
    
                    #story_sliders1{
                        width: 100%;
                        height: 50%;
                    }
    
                    #story_sliders2{
                        width: 100%;
                        height: 50%;
                        top: auto;
                        bottom: 0;
                        background: #fbfbfb;
    
                        >ul{
                            height: 25vh;
                            bottom: 5vh; 
    
                            li{   
                                h1{
                                    font: normal 35px/1.2 'Merriweather';
                                }
                                p{
                                    width: 100%;
                                }
                            }             
                        }
                    }
    
                    .sliderBtns{
                        left: auto;
                        right: 0;
                        top: 250px;
                        
                        li{
                            background: #fbfbfb;
                        }
                    }
                }
            }
        }        
    }
}

@media screen and (max-width:$mobile){
    /* story ----------------------------------------------------------- */
    .story{
        .sub_visualTop{
            margin-bottom: 50px;
        }   
        .sub_content{
            .inner{
                h2{
                    line-height: 1.2;
                }
                .wrap{
    
                    #story_sliders2{
                        top: auto;
                        bottom: 0;
                        background: #fbfbfb;
    
                        >ul{
                            height: 100%;
                            bottom: 0;
                            li{  
                                padding: 20px; 
                                h1{
                                    font-size: 25px;
                                }
                                p{
                                    font-size: 14px;
                                }
                                a{  
                                    font-size: 14px;
                                }
                            }             
                        }
                    }
    
                    .sliderBtns{  
                        top: 270px;
                        width: 60px;
                        
                        li{
                            width: 30px;
                            height: 30px;     
                            a{
                                height: 30px;
                                font: 15px/30px 'Rajdhani';    
                            }
                        }
                    }
                } 
            }
        }     
    }

}