@charset "UTF-8";
// 미디어쿼리 변수설정
$tablet: 1179px;
$mobile: 539px;

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Serif+Display&family=Rajdhani&family=Yeseva+One&display=swap');

@import "reset.scss", "mixin.scss", "sub_layout.scss", "about.scss",
	"notice.scss", "join.scss", "advertisement.scss", "shopping.scss", "review.scss";

/* header ----------------------------------------------------------- */
#header {
	width: 100%;
	height: 60px;
	position: relative;

	> .inner {
		width: 1180px;
		height: 100%;
		margin: 0 auto;
		position: relative;
		top: 0;

		> h1 {
			float: left;
			position: absolute;
			left: 80px;
			top: 50%;
			transform: translateY(-50%);

			a {
				img {
					max-width: 100px;
					height: auto;
				}
			}
		}
		.btnCall_wrap {
			position: relative;
			width: 60px;
			height: 60px;
			padding: 30px;
			background: #444;
            z-index: 10;

			&.Web{
				position: absolute;
				top: 0;
				left: 0;
			}
			&.Mo{
				position: absolute;
				top: 0;
				left: 0;
				display: none;
			}

			.btnCall {
				position: absolute;
				left: 20px;
				top: 50%;
				transform: translateY(-50%);
				width: 20px;
				height: 20px;
				display: block;

				&::before {
					content: "";
					display: block;
					width: 100%;
					height: 2px;
					background: #fff;
					position: absolute;
					top: 0;
					left: 0;
					transition: top 0.5s, transform 0.5s 0.5s;
				}
				&::after {
					content: "";
					display: block;
					width: 100%;
					height: 2px;
					background: #fff;
					position: absolute;
					bottom: 0;
					left: 0;
					transition: bottom 0.5s, transform 0.5s 0.5s;
				}
				span {
					display: block;
					width: 100%;
					height: 2px;
					background: #fff;
					position: absolute;
					left: 0;
					top: 50%;
					margin-top: -1px;
					text-indent: -9999px;
					transition: all 0.5s;
				}
				&.on {
					&::before {
						top: 50%;
						margin-top: -1px;
						transform: rotate(45deg);
					}
					&::after {
						bottom: 50%;
						margin-bottom: -1px;
						transform: rotate(-45deg);
					}
					span {
						transform: translateX(100%);
						opacity: 0;
					}
				}
			}
		}

        .menuWeb_wrap{

            &.on .menuWeb #gnbWeb li {
                opacity: 1;
                transform: translateY(0);
            }

            .menuWeb{
                width: 50%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 220px;
                z-index: 8;

                #gnbWeb {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
    
                    li {
                        transition-duration: 0.5s;
                        opacity: 0;
                        transform: translateY(5px);
    
                        &:nth-of-type(1) {
                            transition-delay: 0.04s;
                        }
                        &:nth-of-type(2) {
                            transition-delay: 0.08s;
                        }
                        &:nth-of-type(3) {
                            transition-delay: 0.12s;
                        }
                        &:nth-of-type(4) {
                            transition-delay: 0.16s;
                        }
                        &:nth-of-type(5) {
                            transition-delay: 0.20s;
                        }
                        &:nth-of-type(6) {
                            transition-delay: 0.24s;
                        }
                        &:nth-of-type(7) {
                            transition-delay: 0.28s;
                        }
    
                        a {
                            display: block;
                            width: 100%;
    
                            font: bold 15px/60px "Rajdhani";
                            color: #444;
    
                            letter-spacing: 1.5px;
                            transition: all 0.4s;
    
                            &:hover {
                                color: #ddd;
                            }
                        }
                    }
                }
            }
        }
		.menuMo_wrap{
			display: none;

            &.on .menuMo{
                left: 0;
            }
            .menuMo{
                width: 100%;
                height: 100vh;
                background: #444;
                position: fixed;
                top: 0;
                left: -100%;
                padding: 50px;
                z-index: 9;
                transition: 0.5s;
                
                
                h1{
                    margin-top: 30px;
                    margin-bottom: 30px;

                    a{
                        img{
                            max-width: 200px;
                            height: auto;
                        }
                    }

                }
                #gnbMo{

                    li {
                        a {
                            display: block;
                            width: 100%;
                            padding: 20px 0;
    
                            font: bold 15px/1 "Rajdhani";
                            color: #eee;
    
                            letter-spacing: 1.5px;
                            transition: all 0.4s;
    
                            &:hover {
                                color: #888;
                            }
                        }
                    }
                }
            }
        }

	}
}

/* visual ----------------------------------------------------------- */
#visual {
	width: 100%;
	position: relative;
	overflow: hidden;

	.visual_wrap {
		width: 100%;
		height: calc(100vh - 60px);
		position: relative;

		.visual_slider1_wrap {
			width: 60%;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			overflow: hidden;

			.visual_sliders1 {
				width: 500%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;

				.visual_slide1 {
					width: 20%;
					height: 100%;
					float: left;
					display: flex;
					justify-content: center;
					align-content: center;
					position: relative;

					.visual_img {
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						right: 0;

						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;
					}
					&[data-index="1"] .visual_img {
						background-image: url(../img/visual_img1.jpg);
					}
					&[data-index="2"] .visual_img {
						background-image: url(../img/visual_img2.jpg);
					}
					&[data-index="3"] .visual_img {
						background-image: url(../img/visual_img3.jpg);
					}
					&[data-index="4"] .visual_img {
						background-image: url(../img/visual_img4.jpg);
					}
					&[data-index="5"] .visual_img {
						background-image: url(../img/visual_img5.jpg);
					}
				}
			}
		}

		.visual_slider2_wrap {
			width: 100%;
			height: 100%;
			overflow: hidden;

			.visual_sliders2 {
				width: 1180px;
				height: 100%;
				margin: 0 auto;
				position: relative;
                transition: 0.1s;

				.visual_slide2 {
					width: 30%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;

					.visual_txt {
						width: 100%;
						height: 100%;
						position: absolute;
						top: 50%;
						left: 0;
						padding: 50px 0;
						transform: translateY(-50%);
						background-color: #fff;
						display: flex;
						justify-content: space-between;
						align-items: center;
						flex-wrap: wrap;

						h1 {
							font: bold 22px/1 "Rajdhani";
							color: #444;
							width: 100%;
						}
						h2 {
							font: 70px/1.2 "Noto Serif Display";
							color: #444;
							font-weight: bold;
							position: relative;
							width: 100%;
						}
						h3 {
							font: normal 20px/1.5 "Rajdhani";
							color: #444;
							width: 100%;
						}
						p {
							font: normal 14px/1.3 "Rajdhani";
							color: #888;
							width: 100%;
						}
						> a {
							font: bold 16px/1 "Rajdhani";
							color: #888;
							transition: all 0.2s;
							position: relative;
							width: 100%;

							&:hover {
								color: #444;
							}
						}
					}
				}
			}
		}		
	}
    .pagenation_main {
        width: 100%;
        height: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;

        .inner {
            width: 1180px;
            height: 100%;
            margin: 0 auto;

            .wrap {
                .btnCircle {
                    width: 100px;
                    position: absolute;
                    left: 40%;
                    bottom: 0;
                    z-index: 2;

                    li {
                        float: left;
                        width: 50px;
                        height: 50px;
                        background: #fff;
                        border-right: 0;
                        a {
                            display: block;
                            width: 100%;
                            height: 50px;
                            font: 25px/50px "Rajdhani";
                            text-align: center;
                            color: #888;
                        }
                        &:hover a {
                            color: #444;
                        }
                    }
                }
            }
        }
    }
}

/* main_search ----------------------------------------------------------- */
#main_search {
	width: 100%;
	background: #444;
	position: relative;

	.inner {
		width: 1180px;
		padding: 30px 0;
		margin: 0 auto;

		.wrap {
			width: 100%;
			font-size: 0;

			b {
				width: 40px;
				height: 40px;
				font-size: 20px;
				line-height: 40px;
				text-align: center;
				color: #fff;
				margin-right: 0;
				display: block;
				float: left;
			}
			strong {
				width: 240px;
				height: 40px;
				font: bold 18px/40px "Rajdhani";
				color: #fff;
				letter-spacing: 1px;
				margin-right: 20px;
				display: block;
				float: left;
			}
			input {
				width: 680px;
				height: 40px;
				padding: 10px;
				display: block;
				margin-right: 20px;
				float: left;
				border: 0;
				background: #fff;
				font-family: "Rajdhani";
				color: #444;
			}
			button {
				width: 180px;
				height: 40px;
				display: block;
				float: left;
				background: #444;
				border: 1px solid #fff;
				color: #fff;
				font: 16px/40px "Rajdhani";
				letter-spacing: 2px;
				cursor: pointer;

				&:hover {
					background: #666;
					border: 1px solid #666;
				}
			}
		}
	}
}

/* content ----------------------------------------------------------- */
#content {
	width: 100%;
	height: auto;
	margin-bottom: 150px;
	margin-top: 100px;
	padding-top: 50px;

	.inner {
		width: 1180px;
		margin: 0 auto;
		position: relative;

		.wrap {
			.con_article {
				width: 580px;
				margin-right: 20px;
				float: left;

				&:first-child {
					article {
						&:nth-of-type(1) {
							width: 100%;
							height: 200px;
							margin-bottom: 20px;
							background-color: #fff;
							float: left;

							h1 {
								font: normal 20px/1 "Rajdhani";
								color: #666;
								margin-bottom: 20px;
							}
							h2 {
								font: bold 26px/1 "Noto Serif Display";
								color: #444;
								margin-bottom: 20px;
							}
							p {
								font: 16px/1.3 "Rajdhani";
								color: #888;
								margin-bottom: 30px;
							}
							a {
								@include button();
								transition: all 0.2s;

								&:hover {
									@include button(
										$color: #fff,
										$bgColor: #444,
										$border: 1px solid #444
									);
								}
							}
						}
						&:nth-of-type(2) {
							width: 100%;
							background-color: #fff;
							float: left;

							.pic {
								width: 100%;
								height: 640px;
								overflow: hidden;

								img {
									width: 100%;
									height: 100%;
									object-fit: cover;
									transition: all 0.5s;
								}
								&:hover {
									img {
										transform: scale(1.2) rotate(-10deg);
									}
								}
							}
							h1 {
								font: bold 20px/1 "Noto Serif Display";
								color: #666;
								margin-top: 20px;
								text-align: right;
								width: 100%;
							}
						}
					}
				}
				&:last-child {
					margin-right: 0;

					article {
						&:nth-of-type(1) {
							width: 100%;
							background-color: #fff;
							float: left;
							margin-bottom: 20px;

							.pic {
								width: 100%;
								height: 640px;
								overflow: hidden;

								img {
									width: 100%;
									height: 100%;
									object-fit: cover;
									transition: all 0.5s;
								}
								&:hover {
									img {
										transform: scale(1.2) rotate(10deg);
									}
								}
							}
							h1 {
								font: bold 20px/1 "Noto Serif Display";
								color: #666;
								margin-top: 20px;
								text-align: right;
								width: 100%;
							}
						}
						&:nth-of-type(2) {
							width: 100%;
							height: 200px;
							background-color: #fff;
							float: left;

							h1 {
								font: normal 20px/1 "Rajdhani";
								color: #666;
								margin-bottom: 20px;
							}
							h2 {
								font: bold 26px/1 "Noto Serif Display";
								color: #444;
								margin-bottom: 20px;
							}
							p {
								font: 16px/1.3 "Rajdhani";
								color: #888;
								margin-bottom: 30px;
							}
							a {
								@include button();
								transition: all 0.2s;

								&:hover {
									@include button(
										$color: #fff,
										$bgColor: #444,
										$border: 1px solid #444
									);
								}
							}
						}
					}
				}
			}
		}
	}
}

/* brand ----------------------------------------------------------- */
#brand {
	width: 100%;
	background-color: #eee;
	padding: 150px 0;

	.inner {
		width: 1180px;
		margin: 0 auto;

		.wrap {
			width: 100%;
			transition: all 0.2s;
			box-shadow: 10px 10px 10px #ddd;

			article {
				width: 50%;
				height: 400px;
				background-color: #fff;
				float: left;

				&:nth-of-type(1) {
					padding: 80px;

					h1 {
						font: normal 20px/1 "Rajdhani";
						color: #666;
						margin-bottom: 10px;
					}
					h2 {
						font: bold 26px/1.4 "Noto Serif Display";
						color: #444;
						margin-bottom: 20px;
					}
					p {
						font: 16px/1.3 "Rajdhani";
						color: #888;
						margin-bottom: 40px;
					}
					a {
						@include button();
						transition: all 0.2s;

						&:hover {
							@include button(
								$color: #fff,
								$bgColor: #444,
								$border: 1px solid #444
							);
						}
					}
				}
				&:nth-of-type(2) {
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}
	}
}

/* txt_box ----------------------------------------------------------- */
#txt_box {
	width: 100%;
	padding: 200px 0;

	.inner {
		width: 1180px;
		margin: 0 auto;

		.wrap {
			article {
				width: 380px;
				height: 500px;
				margin-bottom: 20px;
				float: left;
				margin-right: 20px;

				h1 {
					font: bold 26px/1.4 "Noto Serif Display";
					color: #444;
					letter-spacing: 2px;
				}
				span {
					display: block;
					font: 16px/1.3 "Rajdhani";
					color: #666;
					margin-bottom: 10px;
				}
				h2 {
					font: bold 20px/1.3 "Noto Serif Display";
					color: #444;
					margin-bottom: 40px;
					letter-spacing: 1px;
				}
				p {
					font: 16px/1.3 "Rajdhani";
					color: #888;
				}

				&:nth-of-type(1) {
					height: 740px;
					margin-bottom: 0;
				}
				&:nth-of-type(2) {
					height: 240px;
				}
				&:nth-of-type(3) {
					height: 240px;
					margin-right: 0;
				}
				&:nth-of-type(4) {
					margin-bottom: 0;

                    >p{
                        margin-bottom: 20px;

                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
				}
				&:nth-of-type(5) {
					margin-right: 0;
					margin-bottom: 0;

                    p{
                        margin-bottom: 20px;

                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
				}
			}
		}
	}
}

/* banner ----------------------------------------------------------- */
#banner {
	width: 100%;
	padding: 100px 0;
	background: url(../img/banner.jpg) no-repeat center/cover fixed;

	.inner {
		width: 1180px;
		margin: 0 auto;

		h1 {
			font: normal 20px/1 "Rajdhani";
			color: #888;
			margin-bottom: 20px;
		}
		h2 {
			font: bold 26px/1 "Noto Serif Display";
			color: #bbb;
			margin-bottom: 20px;
		}
		p {
			font: 16px/1.3 "Rajdhani";
			color: #888;
			margin-bottom: 40px;
		}
		a {
			@include button($color: #888, $border: 1px solid #888);
			transition: all 0.2s;

			&:hover {
				@include button(
					$color: #fff,
					$bgColor: #444,
					$border: 1px solid #444
				);
			}
		}
	}
}

/* tab ----------------------------------------------------------- */
#main_tab {
	width: 100%;
	background: #eee;
	padding: 100px 0;

	.inner {
		width: 1180px;
		margin: 0 auto;

		#tab {
			width: 100%;
			padding-top: 50px;
			position: relative;
			box-shadow: 10px 10px 10px #ddd;

			dt {
				width: 25%;
				height: 50px;
				position: absolute;
				top: 0;
				background: #c1c1c1;
				border-right: 1px solid #d7d7d7;

				&:nth-of-type(1) {
					left: 0;
				}
				&:nth-of-type(2) {
					left: calc(25% * 1);
				}
				&:nth-of-type(3) {
					left: calc(25% * 2);
				}
				&:nth-of-type(4) {
					left: calc(25% * 3);
					border-right: 0;
				}

				a {
					display: block;
					width: 100%;
					height: 100%;
					font: bold 16px/50px "Rajdhani";
					color: #444;
					letter-spacing: 1px;
					text-align: center;
				}
				&.on a {
					background-color: #fbfbfb;
				}
			}
			dd {
				width: 100%;
				height: 180px;
				background: #fbfbfb;
				display: none;
				top: 60px;

				a {
					padding: 30px;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-around;
					align-content: center;
					position: relative;

					img {
						width: 200px;
						height: 120px;
						object-fit: cover;
						object-position: top center;
					}
					.txt {
						width: 80%;
						padding: 20px;

						h1 {
							font: bold 18px/1 "Noto Serif Display";
							color: #444;
							letter-spacing: 1px;
							margin-bottom: 20px;
						}
						p {
							font: 16px/1.3 "Rajdhani";
							color: #666;
						}
					}
				}
				&.on {
					display: block;
				}
			}
		}
	}
}

/* insta ----------------------------------------------------------- */
#insta {
	width: 100%;
	padding: 200px 0 100px;

	.inner {
		width: 1180px;
		margin: 0 auto;

		h1 {
			font: bold 26px/1 "Noto Serif Display";
			margin-bottom: 30px;
		}

		.wrap {
			article {
				width: 130px;
				height: 130px;
				margin-right: 20px;
				float: left;

				&:last-child {
					margin-right: 0;
				}
				.pic {
					width: 100%;
					height: 100%;
					overflow: hidden;

					a {
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							transition: all 0.5s;
							transform: scale(1.2);
							transition: all 0.5s;
							opacity: 0.8;
							filter: grayscale(1);
						}
					}
					&:hover {
						a {
							img {
								filter: grayscale(0);
								transform: scale(1);
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
}

/* scroll -----------------------------------------------------------*/
#scrollBtn {
	position: fixed;
	right: 50px;
	top: 50%;
	transform: translateY(-50%);

	li {
		width: 10px;
		height: 10px;
		border-radius: 5px;
		border: 1px solid #bbb;
		margin-bottom: 20px;
		cursor: pointer;
		transition: 0.5s;

		&.on {
			height: 100px;
			background: #444;
		}
	}
}

/* footer ----------------------------------------------------------- */
#footer {
	width: 100%;
	background-color: #222;
	padding: 50px 0 20px;

	.inner {
		width: 1180px;
		margin: 0 auto;

		.wrap {
			article {
				float: left;
				margin-right: 20px;

				&:nth-of-type(1) {
					width: 380px;
					height: 220px;

					h1 {
						width: 180px;
						margin-bottom: 30px;
						img {
							width: 100%;
							height: auto;
							object-fit: cover;
						}
					}
					ul {
						width: 100%;

						li {
							display: inline-block;
							background: #666;
							width: 40px;
							height: 40px;
							text-align: center;
							border-radius: 20px;
							margin-right: 2px;

							&:hover {
								background-color: #bbb;
							}
							a {
								font-size: 20px;
								color: #222;
								line-height: 40px;
							}
						}
					}
				}
				&:nth-of-type(2) {
					width: 380px;
					height: 220px;

					h2 {
						font: bold 20px/1 "Yeseva One";
						color: #666;
						margin-bottom: 30px;
						letter-spacing: 2px;
					}
					address {
						font: 14px/1.2 "Rajdhani";
						margin-bottom: 10px;
						color: #666;
					}
					p {
						font: normal 14px/1 "Rajdhani";
						color: #666;
						margin-bottom: 10px;
					}
				}
				&:nth-of-type(3) {
					width: 180px;
					height: 220px;

					h2 {
						font: bold 20px/1 "Yeseva One";
						color: #666;
						margin-bottom: 30px;
						letter-spacing: 2px;
					}
					ul {
						width: 100%;

						li {
							margin-bottom: 5px;

							a {
								font: 14px/1 "Rajdhani";
								color: #666;
								margin-bottom: 10px;

								&:hover {
									color: #bbb;
								}
							}
						}
					}
				}
				&:nth-of-type(4) {
					width: 180px;
					height: 220px;
					margin-right: 0;

					h2 {
						font: bold 20px/1 "Yeseva One";
						color: #666;
						margin-bottom: 30px;
						letter-spacing: 2px;
					}
					ul {
						width: 100%;

						li {
							margin-bottom: 5px;

							a {
								font: 14px/1 "Rajdhani";
								color: #666;
								margin-bottom: 10px;

								&:hover {
									color: #bbb;
								}
							}
						}
					}
				}
			}
		}
		> p {
			width: 100%;
			text-align: center;
			padding-top: 20px;
			font: 14px/1 "Rajdhani";
			color: #666;
			border-top: 1px solid rgba(102, 102, 102, 0.1);
		}
	}
}

//미디어쿼리
@media screen and (max-width: $tablet) {
	/* header ----------------------------------------------------------- */
	#header {
    
        > .inner {
			width: 100%;
    
            > h1 {
                display: none;
            } 
			
			.btnCall_wrap {	
				&.Web{
					display: none;
				}
				&.Mo{
					display: block;
				}
			}
            .menuWeb_wrap{
				display: none;
            }
			.menuMo_wrap{
				display: block;
            }         
        }
    }

	/* visual ----------------------------------------------------------- */
	#visual {
	
		.visual_wrap {
	
			.visual_slider1_wrap {
				width: 100%;
				height: 50%;
				position: relative;
			}
	
			.visual_slider2_wrap {
				height: 50%;
	
				.visual_sliders2 {
					width: 100%;
	
					.visual_slide2 {
						width: 100%;
	
						.visual_txt {
							padding: 30px;

							h1{
								font-size: 18px;
							}
							h2 {
								font-size: 50px;
							}
							h3 {
								font-size: 18px;
							}
						}
					}
				}
			}		
		}
		.pagenation_main {
			top: 45%;
			bottom: auto;
	
			.inner {
				width: 100%;
	
				.wrap {
					.btnCircle {
						left: auto;
						right: 0;
					}
				}
			}
		}
	}

	/* main_search ----------------------------------------------------------- */
	#main_search {
		.inner {
			width: 100%;
			padding: 30px;

			.wrap {
				width: 100%;
				font-size: 0;

				b {
					margin-bottom: 10px;
				}
				strong {
					width: calc(100% - 40px);
					margin-right: 0px;
					margin-bottom: 10px;
				}
				input {
					width: 68%;
					margin-right: 2%;
				}
				button {
					width: 30%;
				}
			}
		}
	}

	/* content ----------------------------------------------------------- */
	#content {
		padding: 100px 30px 30px;
		margin-bottom: 50px;
		margin-top: 0;

		.inner {
			width: 100%;

			.wrap {
				opacity: 1;
				transform: translateY(0);

				.con_article {
					width: 100%;
					margin-right: 0;

					&:first-child {
						margin-bottom: 20px;

						article {
							&:nth-of-type(1) {
								height: auto;
							}
							&:nth-of-type(2) {
								height: auto;

								.pic {
									height: 400px;
								}
							}
						}
					}
					&:last-child {
						article {
							&:nth-of-type(1) {
								height: auto;

								.pic {
									height: 400px;
								}
							}
							&:nth-of-type(2) {
								height: auto;
							}
						}
					}
				}
			}
		}
	}

    /* brand ----------------------------------------------------------- */
	#brand {
		padding: 80px 30px;

		.inner {
			width: 100%;

			.wrap {
				article {
					width: 100%;
					height: 350px;

					&:nth-of-type(1) {
						padding: 40px;

                        h1{
                            margin-bottom: 10px;
                        }
                        p{
                            margin-bottom: 20px;
                        }
					}
				}
			}
		}
	}

    /* txt_box ----------------------------------------------------------- */
    #txt_box {
        padding: 100px 30px;
    
        .inner {
            width: 100%;
    
            .wrap {
                article {
                    width: 100%;
                    height: auto;
                    margin-right: 0;                    
                    padding-bottom: 40px;
                    margin-bottom: 40px;
                    border-bottom: 1px solid #ddd;
    
                    &:nth-of-type(1) {
                        height: auto;
                        margin-bottom: 40px;
                        border-bottom: 1px solid #888;
                        text-align: center;
                    }
                    &:nth-of-type(2) {
                        height: auto;
                    }
                    &:nth-of-type(3) {
                        height: auto;
                    }
                    &:nth-of-type(4) {
                        margin-bottom: 40px;

                        p{
                            margin-bottom: 0;

                            &:last-child{
                                display: none;
                            }
                        }                     
                    }
                    &:nth-of-type(5) {
                        border-bottom: 0;
                        padding-bottom: 0;

                        p{
                            margin-bottom: 0;

                            &:last-child{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

	/* banner ----------------------------------------------------------- */
	#banner {
		padding: 100px 30px;

		.inner {
			width: 100%;
		}
	}

	/* tab ----------------------------------------------------------- */
	#main_tab {
		padding: 80px 30px;

		.inner {
			width: 100%;

			#tab {
				dd {
					height: 340px;
					top: 40px;

					a {
						.txt {
							width: 100%;
							padding: 40px 20px 0;
						}
					}
				}
			}
		}
	}	

	/* insta ----------------------------------------------------------- */
	#insta {
		padding: 80px 30px;

		.inner {
			width: 100%;

			.wrap {
				article {
					width: 32%;
					margin-right: 2%;
					margin-bottom: 10px;
					float: left;

					&:nth-of-type(3n) {
						margin-right: 0;
					}
					&:nth-of-type(6),
					&:nth-of-type(7) {
						display: none;
					}
				}
			}
		}
	}

	/* scroll -----------------------------------------------------------*/
	#scrollBtn {
		display: none;
	}

	/* footer ----------------------------------------------------------- */
	#footer {
		padding: 50px 30px 20px;

		.inner {
			width: 100%;

			.wrap {
				article {
					margin-right: 0;
					margin-bottom: 20px;

					&:nth-of-type(1) {
						width: 49%;
						height: 170px;
						margin-right: 2%;
					}
					&:nth-of-type(2) {
						width: 49%;
						height: 170px;

						h2 {
							margin-bottom: 15px;
						}
						p {
							line-height: 1.5;
						}
					}
					&:nth-of-type(3) {
						width: 49%;
						height: 180px;
						margin-right: 2%;

						h2 {
							margin-bottom: 15px;
						}
					}
					&:nth-of-type(4) {
						width: 49%;
						height: 180px;
						margin-right: 0;

						h2 {
							margin-bottom: 15px;
						}
					}
				}
			}
			> p {
				text-align: left;
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	/* visual ----------------------------------------------------------- */
	#visual {	
		.visual_wrap {
	
			.visual_slider2_wrap {	
				.visual_sliders2 {	
					.visual_slide2 {	
						.visual_txt {

							h2 {
								font-size: 40px;
							}
							h3 {
								font-size: 16px;
							}
							p{
								display: none;
							}
						}
					}
				}
			}		
		}
	}

	/* main_search ----------------------------------------------------------- */
	#main_search {
		.inner {
			width: 100%;
			padding: 20px 30px;

			.wrap {
				width: 100%;
				font-size: 0;

				input {
					width: 100%;
					margin-right: 0;
					margin-bottom: 10px;
				}
				button {
					width: 100%;
				}
			}
		}
	}

	/* content ----------------------------------------------------------- */
	#content {
		.inner {
			.wrap {
				.con_article {
					&:first-child {
						article {
							&:nth-of-type(2) {
								height: 320px;

								.pic {
									height: 260px;
								}
								h1 {
									height: auto;
									font-size: 16px;
									line-height: 1.2;
								}
							}
						}
					}
					&:last-child {
						article {
							&:nth-of-type(1) {
								height: 320px;

								.pic {
									height: 260px;
								}
								h1 {
									height: auto;
									font-size: 16px;
									line-height: 1.2;
								}
							}
						}
					}
				}
			}
		}
	}

    /* brand ----------------------------------------------------------- */
	#brand {
		.inner {
			.wrap {
				article {
					width: 100%;

					&:nth-of-type(1) {
						padding: 30px;
						height: auto;

						h1 {
							font-size: 14px;
							margin-top: 0px;
							margin-bottom: 10px;
						}
						h2 {
							font-size: 6vmin;
							line-height: 1.2;
							margin-bottom: 15px;
						}
						p {
							margin-bottom: 20px;
						}
					}
				}
			}
		}
	}

	/* banner ----------------------------------------------------------- */
	#banner {
		.inner {
			h2 {
				line-height: 1.5;
			}
		}
	}

	/* tab ----------------------------------------------------------- */
	#main_tab {
		.inner {
			#tab {
                padding-top: 40px;

				dt {
                    height: 40px;

					a {
						font-size: 13px;
                        line-height: 40px;
						letter-spacing: 0;
					}
				}
				dd {
					height: 400px;

					a {
						img {
							width: 100%;
							height: 150px;
						}
						.txt {
							width: 100%;
							padding: 30px 0 0;
							h1 {
								font-size: 18px;
							}
							p {
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}

	/* insta ----------------------------------------------------------- */
	#insta {
		.inner {
			.wrap {
				article {
					width: 49%;
					margin-right: 2%;

					&:nth-of-type(2n) {
						margin-right: 0;
					}
					&:nth-of-type(3) {
						margin-right: 2%;
					}
				}
			}
		}
	}

	/* footer ----------------------------------------------------------- */
	#footer {
		.inner {
			.wrap {
				article {
					&:nth-of-type(1) {
						width: 100%;
						height: 140px;
						margin-right: 0;
					}
					&:nth-of-type(2) {
						width: 100%;
						height: 160px;
					}
				}
			}
			p {
				line-height: 1.4;
			}
		}
	}
}
